<div class="user-goals-and-feed-con clearfix">
	<div class="goals-input-con clearfix">
		<form>
			<textarea ng-model="goal.content" class="goal-input" placeholder="Write your goal here.."></textarea>
			<button class="btn btn-default btn-lg item-submit" type="submit" ng-click="postPublicGoal(goal)" style="float: right;">Submit</button>
		</form>
	</div>
	<div class="goals-feed clearfix" ng-repeat="goal in allGoalsArray | filter: { public: true, accomplished: false }">
		<div class="goals-feed-inner l">
			<img class="goals-feed-pic" ng-src="{{goal.userSubmitted.image}}"/>
			<h6>@{{goal.userSubmitted.username}}</h6>
		</div>
		<div class="goals-feed-inner c">
			<h5 class="goals-feed-content">{{goal.content}}</h5>
		</div>
		<div class="goals-feed-inner l">
			<div class="goal-actions" ng-if="!belongsToUser(goal, user)">
				<div class="goal-actions-con d">
					<button class="goal-actions-btn d">Actions<span class="glyphicon glyphicon-chevron-down" style="padding-left: 5px;"></span></button>
				</div>
				<div class="goal-actions-con u">
					<button class="goal-actions-btn u"><span class="actions-txt">Actions</span><span class="glyphicon glyphicon-chevron-up" style="padding-left: 5px;"></span></button>
					<div class="actions">
						<h6 style="color: green; font-weight: bold;" ng-click="accomplishedGoal(goal)">Accomplished</h6>
						<h6 style="color: red; font-weight: bold;" ng-click="deleteGoal(goal._id)">Delete</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>